
@{
    ViewBag.Title = "Siparişiniz Alındı";
}

<div class="container">

    <h2>Siparişiniz Alındı!</h2>

    <p>Tebrikler. @ViewBag.SiparisId nolu siparişiniz alınmıştır. En kısa zamanda kargolanacaktır.</p>

</div>


